proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=media_cache:10m max_size=5g inactive=24h use_temp_path=off;

server {
    listen 80;

    add_header X-Proxy-Cache $upstream_cache_status;
    add_header Access-Control-Allow-Origin *;

    location / {
        proxy_pass ${SEAWEEDFS_VOLUME_URL};
        
        proxy_cache media_cache;
        proxy_cache_valid 200 24h;
        proxy_ignore_headers Cache-Control;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}